﻿@model MittCommon.ViewModels.SkillViewModel



@{
	ViewData["Title"] = "Tambah Skill";
}



<center><h1>Tambahkan Skill</h1></center>
<br />

<div class="row">
	<div class="col-xs-12">
		<!-- PAGE CONTENT BEGINS -->
		<div class="form-horizontal">
			@*@<form asp-action="Create">
				<div class="form-group">
					<label class="col-sm-3 control-label no-padding-right"> @Html.DisplayNameFor(o => o.Name) </label>

					<div class="col-sm-9">
						<input class="col-xs-120 col-sm-5" asp-for="Name" placeholder="@Html.DisplayNameFor(o => o.Name)" />
					</div>
				</div>
				<div class="col-md-offset-3 col-md-9">
					<button class="btn" type="submit" >
						<i class="ace-icon fa fa-check bigger-110"></i>
						Save
					</button>
					<button class="btn" type="reset">
						<i class="ace-icon fa fa-undo bigger-110"></i>
						Cancel
					</button>
				</div>
			</form>*@



			 <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group row">
                <label asp-for="SkillName" class="col-sm-4 col-form-label"></label>
                <div class="col-sm-8">
                    <input asp-for="SkillName" class="form-control"/>
                </div>
            </div>

            

           

            <div class="form-group row">
                <input type="submit" value="Save" class="btn btn-primary"/>
                <input type="submit" asp-action="Index" value="Cancel" class="btn btn-danger"/>
            </div>

        </form>
		</div>

	</div><!-- /.col -->
</div>
