﻿@model IEnumerable<MittCommon.ViewModels.SkillViewModel>


@{
    ViewData["Title"] = "Skill";
    Layout = "~/Views/Shared/_AceAdminLayout.cshtml";

}


<center><h1>Skill</h1></center>
<br />

<div class="hidden-sm hidden-xs action-buttons">
    <table class="table table-bordered width-50" align="center">
        <tr>
          
            <td align="right">
                <a class="btn btn-primary btn-sm" asp-action="Create">
                    Create
                </a>
            </td>
        </tr>
    </table>
</div>





<div>
    <table id="dynamic-table" class="table table-striped table-bordered table-hover">
        <thead>
            <tr>

                <th>@Html.DisplayNameFor(model => model.SkillName)</th>




            </tr>
        </thead>

        <tbody>
            @{
                if (Model != null)
                {


                    @foreach (var item in Model)
                    {
                        <tr>

                            <td>@Html.DisplayFor(modelItem => item.SkillName)</td>


                            <td align="right">
                                <div class="hidden-sm hidden-xs btn-group">
                                    <center>
                                        <a class="btn btn-success btn-sm" asp-action="Edit" asp-route-id="@item.SkillId">
                                            Edit
                                        </a>

                                        <a class="btn btn-danger btn-sm" asp-action="Delete" asp-route-id="@item.SkillId">
                                            Delete
                                        </a>
                                    </center>


                                </div>
                            </td>
                        </tr>
                    }
                }
            }
        </tbody>


    </table>
</div>



